{{> header}}

<main id="site-content">
  <section class="my-pets">
    <h1>My Pets</h1>
    <ul class="my-pets-list">
      {{#each pets}}
      <section class="myPet">
        <h3>Name: {{name}}</h3>
        <p>Category: {{category}}</p>
        <p class="img"><img src="{{imageURL}}"></p>
        <p class="description">{{description}}</p>
        <div class="pet-info">
          <a href="#/editMyPet/:{{_id}}"><button class="button">Edit</button></a>
          <a href="#/deleteMyPet/:{{_id}}"><button class="button">Delete</button></a>
          <i class="fas fa-heart"></i> <span>{{likes}}</span>
        </div>
      </section>
      {{else}}
      <p>You don't have any pets added</p>
      {{/each}}
    </ul>
  </section>
</main>

{{> footer}}