<article class="post post-content">
  <p>{{content}}</p>
  <div class="info">
    submitted {{creationTime}} ago by {{author}} {{#if isAuthor}}| <a href="#/deleteComment/:{{postId}}/:{{_id}}"
      class="deleteLink">delete</a>{{/if}}
  </div>
</article>